<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Учим русский</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/Bear_favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(70544038, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/70544038" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>

<body class="dark" style="text-align: center">

<div class="main-page" id="app">
    <div class="flex main-page-wrap" style="justify-content: center; align-items: center;">
        <div class="bg_over"></div>
        <div id="unity-container" class="unity-canvas-wrap unity-desktop" style="width: 100%;   max-width: 960px;">
            <canvas id="unity-canvas" style="max-width: 960px; height: 600px; background: #231F20;"></canvas>
        </div>
		
		
		<div id="loading-cover">
      <div id="unity-loading-bar">
        <div id="unity-logo"><img src="logo.png"></div>
        <div id="unity-progress-bar-empty" style="display: none;">
          <div id="unity-progress-bar-full"></div>
        </div>
        <div class="spinner"></div>
      </div>
    </div>
    <div id="unity-fullscreen-button" style="display: none;"></div>
    </div>
    <div class="footer  w_1920">
        <div class="foot_cont flex">
            <div class="logo"><a href="http://2profession.ru/" target="_blank"><img src="img/logo-main 1.png"
                                                                                    alt=""></a></div>
            <div class="img_box_bear">
                <div class="cont_box">
                    <div class="substrate">
                        <div class="close"><img src="img/Normal.png" alt=""></div>
                        <div class="text">
                            <div>Dear friends and Russian language learners!</div>
                            <div>We developed this online game for those who wants to study and practice Russian
                                language at A1 level. This game will help you with the basics of the conversational
                                Russian in everyday life. You will learn how to speak about you and your family in
                                Russian, in the hotel, buying tickets, in the transport, in the museum etc.
                            </div>
                            <div>You will have a personal tutor Mikhail Potapych. He will help you to start speaking
                                Russian as soon as possible.
                            </div>
                            <div>Good luck!</div>
                        </div>
                    </div>
                </div>
                <div class="bear_box"><img src="img/bear.png" alt=""></div>
            </div>
            <div class="bord_foot" style="padding-right: 0"></div>
            <div class="subscribe_box">
                <div>
                    <div>Подпишитесь на рассылку, чтобы получать информацию об обновлении игр</div>
                    <div>
                        <button type="button" @click="onSubscribeBtn">Подписаться</button>
                    </div>
                </div>
            </div>
            <div class="contact_box flex">
                <div class="bord_foot"></div>
                <div>
                    <div>Техническая поддержка игр:</div>
                    <div class="tel">+7 (499) 653-95-10</div>
                    <div class="mail">
                        <a href="mailto:director@2profession.ru">director@2profession.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ref="subscribeModal" class="modal" :style="{ display: !subscribe.modal.show ? 'none' : 'block' }">
        <div class="modal-content">
            <form @submit.prevent="onSubscribeSubmit">
                <template v-if="!subscribe.modal.text">
                    <div class="form-group">
                        <input type="text" v-model="subscribe.modal.form.name" placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                        <input type="email" v-model="subscribe.modal.form.email" placeholder="Email" required>
                    </div>
                    <div class="form-group subscribe_box">
                        <button type="submit">Подписаться</button>
                    </div>
                </template>
                <template v-else>
                    <div class="subscribe_message">{{ subscribe.modal.text }}</div>
                </template>
            </form>
        </div>
    </div>
</div>

<script src="js/axios.js"></script>
<script src="js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            subscribe: {
                modal: {
                    form: {
                        name: '',
                        email: '',
                    },
                    show: false,
                    text: '',
                },
            },
        },
        mounted() {
            /** On subscribe outside click */
            window.onclick = function(event) {
                if (event.target == app.$refs['subscribeModal']) app.onSubscribeClose();
            }
        },
        methods: {
            clearSubscribeForm() {
                this.subscribe.modal.form = { name: '', email: '' };
            },
            onSubscribeBtn() {
                this.subscribe.modal.show = true;
                this.clearSubscribeForm();
            },
            onSubscribeClose() {
                this.subscribe.modal.show = false;
            },
            onSubscribeSuccess() {
                this.subscribe.modal.text = 'Подписка оформлена!';
            },
            onSubscribeError() {
                this.subscribe.modal.text = 'Не удалось оформить подписку!';

                setTimeout(() => {
                    this.clearSubscribeForm();
                    this.subscribe.modal.text = '';
                }, 5000)
            },
            onSubscribeSubmit() {
                axios.post('index.php', this.subscribe.modal.form)
                    .then((response) => {
                        !response ? this.onSubscribeError() : this.onSubscribeSuccess();
                    })
                    .catch(() => {
                        this.onSubscribeError()
                    })
            },
        },
    })
</script>

<script src="Build/RKI_games.loader.js"></script>
<script>
    const hideFullScreenButton = "true";
    const buildUrl = "Build";
    const loaderUrl = buildUrl + "/RKI_games.loader.js";
    const config = {
        dataUrl: buildUrl + "/RKI_games.data",
        frameworkUrl: buildUrl + "/RKI_games.framework.js",
        codeUrl: buildUrl + "/RKI_games.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "RKI Games",
        productVersion: "1.0",
    };

    const container = document.querySelector("#unity-container");
    const canvas = document.querySelector("#unity-canvas");
    const loadingCover = document.querySelector("#loading-cover");
    const progressBarEmpty = document.querySelector("#unity-progress-bar-empty");
    const progressBarFull = document.querySelector("#unity-progress-bar-full");
    const fullscreenButton = document.querySelector("#unity-fullscreen-button");
    const spinner = document.querySelector('.spinner');

    const canFullscreen = (function() {
        for (const key of [
            'exitFullscreen',
            'webkitExitFullscreen',
            'webkitCancelFullScreen',
            'mozCancelFullScreen',
            'msExitFullscreen',
        ]) {
            if (key in document) {
                return true;
            }
        }
        return false;
    }());

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        config.devicePixelRatio = 1;
    }
    loadingCover.style.display = "";

    const script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
            spinner.style.display = "none";
            progressBarEmpty.style.display = "";
            progressBarFull.style.width = `${100 * progress}%`;
        }).then((unityInstance) => {
            loadingCover.style.display = "none";
            if (canFullscreen) {
                if (!hideFullScreenButton) {
                    fullscreenButton.style.display = "";
                }
                fullscreenButton.onclick = () => {
                    unityInstance.SetFullscreen(1);
                };
            }
        }).catch((message) => {
            alert(message);
        });
    };
    document.body.appendChild(script);

    document.addEventListener("DOMContentLoaded", init);

    function init() {
        const elemImg = document.querySelector(".bear_box");
        const elemModal = document.querySelector(".cont_box");
        const elemClose = document.querySelector(".close");
        const elemBgOver = document.querySelector(".bg_over");
        elemImg.addEventListener("click", () => {
            elemModal.style.display = ""
            elemBgOver.style.display = ""
        })
        elemClose.addEventListener("click", () => {
            elemModal.style.display = "none"
            elemBgOver.style.display = "none"
        })
    }
</script>

</body>
</html>
